/* for all pages */
header {
    position: fixed;
    z-index: 1;
    
}



body {
    background-image: url("https://www.zingerbug.com/Backgrounds/background_images/indigo_textured_rock_seamless_pattern.jpg");
    
}

/* for index.html */
.aboutme {
    margin-top: 150px;
}

.img-fluid {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
}


/* for contact.html */



footer{ 
    position: fixed;
    bottom: 0;
    height: 25px;
    width: 100%;
    background-color: rgb(67, 65, 65);
    border-top: 5px rgb(38, 131, 123) solid;

}
