/* for all pages */
header {
    position: fixed;
    z-index: 1;
}

body {
    background-image: url("https://www.zingerbug.com/Backgrounds/background_images/indigo_textured_rock_seamless_pattern.jpg");
    
}

/* for index.html */
.aboutme {
    margin-top: 150px;
}
